extend ../../templates/dashboard

block content
	h1.page-header 
		span(class="label label-default") #{screen.name}
	span(class="label label-primary") #{screen.desc}

	.row.placeholders
		a(href="/widgets/new") Add New Widget
		Br
		form(method="post", action="/screens/#{screen.id}" )
			input(type="hidden", name="_method", value="DELETE")
			button( type="submit", class="btn btn-default") Delete Screen 

		//show widgets
		!= widget