extend ../../templates/dashboard

block content
	h1.page-header 
		span(class="label label-default") #{screen.name}
	span(class="label label-primary") #{screen.desc}

	.row.placeholders
		a(href="/widgets/new") Create New Widget  
		|  | 
		a(href="/screens/#{screen.id}/widgets/add") Add existing widgets 
		|	| 
		form(method="post", action="/screens/#{screen.id}", style="display:inline-block" )
			input(type="hidden", name="_method", value="DELETE")
			button( type="submit", class="btn btn-danger") Delete Screen 
		hr

		//show widgets
		-screen.widgets.forEach( function(w){
			!= w
		-})
		