extend ../../templates/dashboard

block content
	h1.page-header 
		span(class="label label-default") #{widget.name}

	.row.placeholders
		Br
		//show widgets
		!=widget.html
		form(method="post", action="/widgets/#{widget.id}" )
			input(type="hidden", name="_method", value="DELETE")
			button( type="submit", class="btn btn-danger") Delete Widget 		