<table class="table table-striped table-bordered table-hover table-condensed widget_{{id}}" >
	<thead>
	  <tr>
	  {{#each cols}}
	    {{{ table_col}}}
	  {{/each}}
	  </tr>
	</thead>
	<tbody>
             {{#table_body rows cols}} {{/table_body}}
	</tbody>


</table>