<table class="table table-striped table-bordered table-hover table-condensed" >
	<thead>
	  <tr>
	  {{#each cols}}
	    {{{col}}}
	  {{/each}}
	  </tr>
	</thead>
	<tbody>
             {{#body rows cols}} {{/body}}
	</tbody>


</table>