extend ../../templates/dashboard

block content
	h1.page-header Welcome, #{username}
	.row.placeholders
	.col-xs-6.col-sm-3.placeholder
		img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
		h4 Label
		span.text-muted Something else

	.col-xs-6.col-sm-3.placeholder
		img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
		h4 Label
		span.text-muted Something else
	.col-xs-6.col-sm-3.placeholder
		img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
		h4 Label
		span.text-muted Something else
	.col-xs-6.col-sm-3.placeholder
		img.img-responsive(data-src='holder.js/200x200/auto/vine', alt='Generic placeholder thumbnail')
		h4 Label
		span.text-muted Something else
	h2.sub-header Section title
	.table-responsive
	table.table.table-striped
		thead
		tr
			th #
			th Header
			th Header
			th Header
			th Header
		tbody
		tr
			td 1,001
			td Lorem
			td ipsum
			td dolor
			td sit
		tr
			td 1,002
			td amet
			td consectetur
			td adipiscing
			td elit
